<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- For app.config -->
	<connectionStrings>
		<add name="DsdConnectionString" connectionString="Data Source=localhost;Initial Catalog=DishServiceDevDb;MultipleActiveResultSets=true;Persist Security Info=True;User ID=sa;Password=sa@12345" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>